body {
	display: flex;
	min-height: 100vh;
	width: 100vw;
	flex-direction: column;
	font-family: 'Special Elite', cursive;
	overflow-x: hidden;
  }

.section-header {
	color: white;
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
}

h2 {
	position: relative;
	padding-bottom: 8px;
}

h2::first-letter {
	color: #FF6961;
	font-weight: bold;
}

p {
	font-family: 'Spectral', serif;
}

nav {
	background-color: #21272d;
	border-bottom: 5px solid #FF6961;
}

.sidenav {
	background-color: #445a7c;
}

.sidenav > li > a {
	color: #FF6961;
	font-weight: bold;
	font-size: 18px;
}

.intro {
	background-image: url("../images/crissXcross.png");
	min-height: 100vh;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro > .row > .col > p {
	font-size: 32px;
	font-family: 'Special Elite', cursive;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 0;
}

.intro > .row > .col > a {
	background-color: transparent;
	border: 2px solid #FF6961;
	margin-top: 20px;
}

/* Center that button in the intro */
.intro > .row > .col {
	text-align: center;
}

.intro > .row > .col > a:hover {
	background-color: #21272d;
	border: 2px solid #FF6961;
	color: #FF6961;
	font-weight: bold;
}

#my-name {
	  color: #FF6961;
}

.about-me {
	min-height: 100vh;
	height: auto;
	background-color: #90aacd;
}

.exp-imgs {
	width: 100px;
	height: 80px;
}

.projects {
	min-height: 100vh;
	background-color: #2F3740;
	height: auto;
}

.proj-pic {
	width: 65vw;
	height: 65vh;
}

.proj-desc {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}

.card .card-reveal {
	background-color: #90aacd;
}


.contact {
	min-height: 100vh;
	height: auto;
	background-color: #445a7c;
	text-align: center;
}

.form-submit-btn {
	border: 2px solid #FF6961;
	background-color: #445a7c;
	align-content: center;
}

.form-submit-btn:hover {
	background-color: #21272d;
	border: 2px solid #FF6961;
	color: #FF6961;
}	

.tabs {
	margin-bottom: 25px;
	background-color: transparent;
	font-weight: bold;
}

.tabs .indicator {
	background-color: #FF6961;
}

.tabs .tab a {
	color: white;
}

.tabs .tab a:hover {
	background-color: #21272d;
	color: #FF6961;
	font-weight: bold;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
	color: #FF6961;
	background-color: #21272d;
	border-bottom: 2px solid #FF6961;
}

img {
	height: 280px;
	width: 500px;
}

.material-icons {
	color: #FF6961;
}

.activator {
	cursor: pointer;
}



input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid white;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid white;
}

.input-field>label {
	color: white;
}

footer {
	text-align: center;
}

footer > .row > .col a > i {
	padding: 10px;
}

.page-footer {
	background-color: #21272d;
}

/* @media screen and (max-width: 768px) {

	.intro > .row > .col > a {
		position: absolute;
		left: 40%;
	}
	
	.form-submit-btn {
		position: relative;
		left: 275px;
	}
	
	}






@media screen and (max-width: 330px) {

.intro > .row > .col > a {
	position: absolute;
	left: 25%;
}

.form-submit-btn {
	position: relative;
	left: 90px;
}

} */


















